@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  overflow-x: hidden;
}
.staff-card {
  position: relative;
  perspective: 1000px;
  transition: all 0.8s ease;
}

.staff-card .inner {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.staff-card.rotateY180 {
  transform: rotateY(180deg);
}

.staff-card.rotateY0 {
  transform: rotateY(0deg);
}

.staff-card.rotateY0 .front {
  backface-visibility: visible;
}

.staff-card.rotateY180 .back {
  backface-visibility: visible;
}

.active-field {
  @apply !border-baked;
}

.field-error-color {
  @apply !border-flory placeholder:text-flory;
}
.field-error-text {
  @apply px-3 text-flory italic text-xs;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #014e56 inset !important;
}
